<head>
    <link href="https://fonts.googleapis.com/css2?family=Caveat
    :wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,
    400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&
    display=swap" rel="stylesheet">
</head>

<body>
    <h2>About</h2>
    <div>
        <p>
            I am a web development student from southeast Indiana, and I want to make
            a difference in the lives of others around me. I enjoy spending time with
            my wife and friends, watching football, photography, and learning more about the world
            of web development. I love getting to drive around the country to see family,
            friends, and see the landscape and sights of America.

        </p>
        <br>
        <h3>Technology Experience</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>C#</li>
            <li>Angular</li>
        </ul>
    </div>
</body>