<body>
    <h2>About</h2>
    <div class="about">
        <p>
            I am a web development student from southeast Indiana, and I want to make
            a difference in the lives of others around me. I enjoy spending time with
            my wife and friends, watching football, photography, and learning more about the world
            of web development. I love getting to drive around the country to see family,
            friends, and see the landscape and sights of America.

        </p>
        <br>

        <div class="expand">
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-description fxLayoutAlign="center">
                            Technology Experience
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>C#</li>
                        <li>Angular</li>
                    </ul>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>