body {
    font-family: 'Caveat', cursive;
}

h2 {
    text-align: center;
    padding: 10px;
}

ul {
    text-align: center;
    width: 200px;
    margin: auto;
}

li {
    margin: 20px;
}

div {
    border: 5px solid black;
    border-radius: 15px;
    padding: 25px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 100px;
}