h2 {
    text-align: center;
    padding-top: 10px;
}

img {
    display: block;
    width:250px; 
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

p {
    text-align: center;
    font-size: medium;
    border: 5px solid black;
    border-radius: 15px;
    margin-left: 550px;
    margin-right: 550px;
    padding: 10px;
}